{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class = "col-sm-10">
    <h3 class = "text-white my-5">About Page</h3>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nostrum fugit quos libero distinctio obcaecati est odit a quod amet, nisi, repudiandae ullam earum minus culpa eos. 
    Iure velit tempore ab?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus incidunt hic ea delectus eaque cumque, nostrum provident, 
        corrupti esse quibusdam repellat consectetur placeat. Facilis ad sint similique cupiditate vero ducimus voluptatibus, 
        officia modi quos obcaecati veniam dolores neque ullam. Non reiciendis error 
        mollitia ad magni voluptate consequatur, quo officia!</p>

</div>

{% endblock content %}
